certifi==2021.10.8
charset-normalizer==2.0.12
Django==2.2
idna==3.3
mysqlclient==2.0.3
Pillow==9.0.1
PyJWT==2.3.0
pypng==0.0.21
PyQRCode==1.2.1
pytz==2021.3
requests==2.27.1
sqlparse==0.4.2
twilio==7.7.1
urllib3==1.26.9
